@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css");

html {
    position: fixed;
    background: url(https://lh3.googleusercontent.com/d4gmgIKgTjKM4sab6C1kG1ckGXNp46LVNM4d08vsWBnqbWIqQq6jpvXuJAOhZVPjvnmabdN0TUQVAUILvcc6Fstc6Hns6VYbhqBINnEWsKt_YpASW_0QjIZpPwahHooYuTenwXo5=w2400) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-image: linear-gradient(rgba(132, 0, 144, 0.568), rgba(0, 0, 0, 0.701)),
                  url("https://lh3.googleusercontent.com/d4gmgIKgTjKM4sab6C1kG1ckGXNp46LVNM4d08vsWBnqbWIqQq6jpvXuJAOhZVPjvnmabdN0TUQVAUILvcc6Fstc6Hns6VYbhqBINnEWsKt_YpASW_0QjIZpPwahHooYuTenwXo5=w2400");
}

.title {
    position: relative;
    top: 40px; left: 15%;
    padding: 10px 10px 10px 10px;
    margin: 5px;
    font-size: 200%;
    color : rgb(242, 93, 255)
}

.bi-github {
    position: relative;
    top: 80px; left: 46%;
    color: rgb(242, 93, 255);
    border: 5px solid rgb(242, 93, 255);
    margin: 0px;
    font-size: 200%;
    padding: 10px 10px 10px 10px;
}

.bi-linkedin {
    position: relative;
    top: 80px; left: 45%;
    color: rgb(242, 93, 255);
    border: 5px solid rgb(242, 93, 255);
    margin: 0px;
    font-size: 200%;
    padding: 10px 10px 10px 10px;
}

.bi-telegram {
    position: relative;
    top: 80px; left: 44%;
    color: rgb(242, 93, 255);
    border: 5px solid rgb(242, 93, 255);
    margin: 0px;
    font-size: 200%;
    padding: 10px 10px 10px 10px;
}

.bi-key {
    position: relative;
    top: 150px; left: -5%;
    margin: 3px;
    color: rgb(255, 255, 255);
    font-size: 200%;
}

key {
    position: relative;
    top: 143px; left: -5%;
    color: rgb(255, 255, 255);
    font-size: 100%;
}

footer {
        position: relative;
    top: 150px; left: 35%;
    color :rgb(255, 255, 255)
}