.leftcolumn {
    float: left;
    width: 100%;
}

.about {
    font-style: normal;
    font-weight: normal;
    font-size: 2vw;
    line-height: auto;
    color: #B8D0EB;
}

.ico{
    font-size: 4vw;
    line-height: 8vw;
}

.ico a:hover {
    color: #F59CA9;
}

.ico a {
    color: #B8D0EB;
}

.space {
    margin-left: 2vw;
}