.footer {
    bottom: 0;
    position: fixed;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    left: 20%;
    font-style: normal;
    font-weight: normal;
    font-size: 1.5vw;
    color: #B8D0EB;
    text-align: center;
    background-color: #25272A;
}

.hr_footer {
    border: 0.2vw solid #F59CA9;
    height: 1px;
    margin-bottom: 0.5vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}