@import url(https://cdn.jsdelivr.net/gh/tonsky/FiraCode@5.2/distr/fira_code.css);

html {
    margin: 5vw;
}

body {
    font-family: Fira Code;
    background-color: #25272A;
}

.main {
    margin-left: 8vw;
    margin-right: 0;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}