html,
body {
    --bg-color: #25272A;
    background-color: var(--bg-color);
    padding: 0;
    margin: 0;
    font-family: Fira Code, serif;
}

@font-face {
    font-family: 'Fira Code';
    src: url('../woff2/FiraCode-Light.woff2') format('woff2'), url("../woff/FiraCode-Light.woff") format("woff");
    font-weight: 300;
    font-style: normal;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}